<app-navbar></app-navbar>
<div class="container">
  <app-card title="FORM">
    <div *ngIf="store.active">
        <h3>Elemento selezionato:</h3>
        <h4>Nome:{{store.active.label}} Prezzo:{{store.active.price}}</h4>
    </div>
  <app-catalog-form
  [active]="store.active"
  (save)="actions.save($event)"
  (reset)="actions.reset()"
  ></app-catalog-form>
</app-card>
<app-card title="ITEM">
   <app-catalog-list 
    [devices]="store.devices"
   [active]="store.active"
   (setActive)="actions.setActive($event)"
   (delete)="actions.deleteHandler($event)"></app-catalog-list>
  </app-card>
</div>
